#all {
  max-width: 100% !important;
  user-select: none;
  min-height: 100vh;
}

body {
  background: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe);
}

#all {
  background: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe);
}

#loading {
  background: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe);
}

#all {
  color: #fff;
  font-family: Montserrat;
}

#searchGlass:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #FAEA48;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

a:hover {
  color: #E20000;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 700px) {
  #animation {
    margin-left: -30vw;
  }

  #all {
  overflow-x: none;
  }

  #searchGlass{
    margin-left: -2em ;
  }
}

