#all {
  max-width: 100% !important;
  user-select: none;
  min-height: 100vh;
}

#all {
  background: linear-gradient(to right, #4400b7, #7d00ab, #a1009f, #bc0094, #d10089, #e61d7a, #f5386c, #ff525e, #ff7e4f, #ffa948, #ffd153, #f9f871);
}

#loading {
  background: linear-gradient(to right, #4400b7, #7d00ab, #a1009f, #bc0094, #d10089, #e61d7a, #f5386c, #ff525e, #ff7e4f, #ffa948, #ffd153, #f9f871);
}

#all {
  color: #fff;
  font-family: Montserrat;
}

#searchGlass:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #FAEA48;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

a:hover {
  color: #E20000;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 700px) {
  #animation {
    margin-left: -30vw;
  }

  #all {
  overflow-x: none;
  }
}

